/*HEADER*/
  /*placement: vet name + dropdown button*/
   .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

  /*customization: vet name*/
   #vet-clinic {
     text-decoration: none;
     color: rgb(19, 66, 19);
     font-family: Roboto, sans-serif;
     font-size: 20px;
   }
  
  /*dropdown-menu button*/
    /*customization: dropdown-menu button*/
      #dropdown-button {
         background-color: transparent;
         border-radius: 20%;
         padding: 16px;
         font-size: 25px;
         border: none;
      } 
      
    /*placement preparation -> dropdown function*/  
      .dropdown {
         position: relative;
         display: inline-block;
      }
    
    /*placement + customization: dropdown content*/  
     .dropdown-content {
         display: none;
         position: absolute;
         right: 0;
         background-color: #f1f1f1;
         min-width: 30%;
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
         z-index: 1;
         border-radius: 20px;
      }
    
    /*customization: navigation links*/
      .dropdown-content a {
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
      }

    /* header buttons */
      /*placement + customization: header links container*/
        .header-links {
           display: flex;
           justify-content: space-between;
           background-color: lightgray;
           border-radius: 20px;
        }
     
      /*customization: header links*/         
        .header-links a { 
           color: black;
           text-decoration: none;
           font-family: Roboto, sans-serif;
           font-size: 16px;
           text-align: center;
           width: 25%;
           padding: 1%;
        }


/*MAIN*/
  /* customization: main background image*/
    main{
       background-image: url(https://images.unsplash.com/photo-1518882174711-1de40238921b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1926&q=80);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }
    
  /*customization: form field*/
    form {  
       width: 40%;
       margin-top: 2%;
    }

  /*customization: fieldset*/
    fieldset{ 
       border: none;
       border-radius: 20px;
       min-width: 382px;
       background-color: rgba(255, 255, 255, 0.781);
    }

  /*customization: legends*/   
    legend {
       text-align: center;
       padding-top: 8%;
       font-family: Roboto, sans-serif;
       color: rgb(19, 66, 19);
    }
  
  /*customization: form buttons*/  
    form button {
       border-radius: 20px;
    }

  /*customization:inputs*/  
    input {
       color: rgb(19, 66, 19);
       font-family: Roboto, sans-serif;
    }

  /*customization: labels and form p*/  
    label, form p{
     font-family: Roboto, sans-serif;
     font-size: 13px;
    }
  
  /*customization: form buttons*/
    form button{
       border: solid 1px;
       border-color: rgb(19, 66, 19);;
       background-color: white;
       font-weight: bold;
    }
  /*customization: alert messages*/
    .alert-messages {
       color: red;
    }

  /*form - flexbox*/
    /*row space-around*/
      .container1-form {
         display: flex;
         justify-content: space-around;
      }
    
    /*column flex-start*/
      .container2-form {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
      }


/*FOOTER*/
  /*placement + customization: footer*/
    footer {
       position: relative;
       background-color: lightgray;
       bottom: 0%;
       width: 100%;
       min-width: 100%;
       max-width: 100%;
    }

  /*customization: footer links*/  
    footer a {
       color: black;
       text-decoration: none;
       width: 100%;
       border-radius: 20px;
       font-size: 15px;
    }

    /*customization: footer paragraphs*/
      footer p {
         font-weight: bold;
         font-size: 17px;
         font-family: Roboto, sans-serif;
      }

    /*customization: footer icons*/
      .container-icons-footer a {
         font-size: 25px;
         margin: 5px;
      }

   /*footer flexbox*/
    /*column just.cont. -> space-around*/
      .container2-footer {
         display: flex;
         justify-content: space-around;
      }

    /*column*/  
      .container-links-footer { 
         display: flex;
         flex-direction: column;
         text-align: center;
         width: 33%;
      }

    /*row just.cont. -> center*/  
      .container-icons-footer {
         display: flex;
         justify-content: center;
         margin-top: 5%;
      }


/*ELEMENTS HOVER*/
  /*header links*/
    .header-links a:hover {
       color: white;
       background-color: rgb(19, 66, 19);
       border-radius: 20px;
       font-size: 17px;
    }

  /*navigation links*/  
    .dropdown-content a:hover {
       background-color: rgb(19, 66, 19);
       border-radius: 20px;
       color: white;
       font-size: 18px;
    }
   
  /*dropdown function activation*/  
    .dropdown:hover .dropdown-content {
       display: block;
       cursor: pointer;
    }
 
  /*dropdown*/
    .dropdown:hover #dropdown-button {
       scale: 1.2;
       cursor: pointer;
    }

  /*radio buttons*/  
    input[type="radio"]:hover {
       cursor: pointer;
    }
  
  /*date inputs*/  
    input[type="date"]:hover {
       cursor: text;
    }

  /*select*/  
    select:hover {
       cursor: pointer;
    }
  
  /*form buttons*/  
    form button:hover {
       cursor: pointer;
    }

  /*footer links*/
    .container-links-footer a:hover {
       color: white;
       background-color: rgb(19, 66, 19);
       font-size: 17px;
    }
  
  /*footer icons*/  
    .icon-footer:hover {
       font-weight: bold;
       color: rgb(19, 66, 19);
    }


/*ADJUSTMENTS*/
  /*specific*/
    /*house number input*/
      #number {
         width: 10%;
      }
    
    /*zipcode input*/  
      #zip-code {
         width: 35%;
      }
  
    /*phone number input*/    
      #phone-number {
         width: 30%;
      }
    
    /*radio buttons*/  
      #checkboxes {
         width: 20%;
      }

    /*buttons*/ 
      button {
         color: rgb(19, 66, 19);
      }
    
    /*submit button*/  
      #submit-reg {
         margin-bottom: 10%;
         max-width: 258px;
         min-width: 258px;
      }

 /*non-specific*/
  /*align items center*/
    .align-items {
       align-items: center;
    }

  /*justify content flex start*/
    .just-cont-flex-start {
       justify-content: flex-start;
    }

  /*flex basis half*/
    .flex-basis {
       flex-basis: 50%;
    }

  /*flex grow 1*/
    .flex-grow {
       flex-grow: 1;
    }

  /*margin bottom to 2%*/
    .margin-bottom2 {
       margin-bottom: 2%;
    } 

  /*margin top to 2%*/
    .margin-top2 {
       margin-top: 2%;
    }

  /*row-reverse*/  
    .row-reverse{
       display: flex;
       flex-direction: row-reverse;
       justify-content: flex-end;
       margin-right: 5px;
    }
  
  /*grid-column*/  
    .grid-column{
       display: grid;
       grid-template-columns: auto auto;
    }

/* Check attributions folder for more info regarding attributions and copyright licenses */