/*Flexbox*/
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-even {
  justify-content: space-evenly;
}


.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-start {
  align-items: flex-start;
}

.grow {
  flex-grow: 2;
}

/*Styling*/
main {
  background-image: url('https://images.unsplash.com/photo-1518882174711-1de40238921b?q=80&w=726&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px -2px 5px black,
  1px 0px 5px black,
  -1px 0px 5px black;
}

a {
  text-decoration: none;
}

.width-max {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-quarter{
  width: 25%;
}

.top-fifteen {
  margin-top: 15px;
}

header {
  box-shadow: 0px 2px 5px black;
}

h1 {
  margin-left: 30px;
  color: rgb(3, 57, 3);
  font-size: 40px;
}

#brand i {
  transform: scale(3.5);
  color: rgb(3, 57, 3);
  margin-left: 30px;
}

#header-links {
  background-color: rgb(3, 57, 3);
  width: 100%;
  height: 30px;
  box-shadow: 0px 2px 4px black,
  1px 0px 5px black,
  -1px 0px 5px black;
}

#header-links a {
  color: white;
  font-size: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 25px;
  margin-top: 50px;
  box-shadow: 5px 5px 5px black;
  width: 75%;
  max-width: 400px;
  border: none;
}

legend {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(3, 57, 3);
  text-align: center;
  background-color: rgba(189, 189, 189, 0.91);
  box-shadow: 5px 5px 5px black;
  width: 65%;
  margin-bottom: 15px;
}

fieldset div {
  width: 100%;
}

fieldset p {
  width: 100%;
  text-align: center;
  background-color: rgba(189, 189, 189, 0.91);
  box-shadow: 2px 2px 3px black;
  border-radius: 8px;
  padding: 3px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  text-shadow: 1px 1px 2px gray;
}

input, textarea {
  border-radius: 8px;
  border: solid 1px gray;
  box-shadow: 2px 2px 3px black;
}

input {
  height: 25px;
} 

button:not(#dropdown-btn) {
  text-align: center;
  background-color: rgba(189, 189, 189, 0.91);
  box-shadow: 2px 2px 3px black;
  border-radius: 8px;
  border: solid 1px gray;
  margin-bottom: 5px;
}

button:not(.answer-btns):not(#dropdown-btn) {
  margin-top: 25px;
  margin-bottom: 100px;
  font-size: 16px;
  width: 15%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(3, 57, 3);
}

.answer-btns {
  text-shadow: 1px 1px 2px gray;
}

.group {
  margin-bottom: 15px;
}


.straight-left {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.straight-right {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

footer {
  box-shadow: 0px -1px 5px black,
  1px 0px 5px black,
  -1px 0px 5px black;
}

footer a {
  color: black;
  font-size: 15px;
}

footer p {
  color: rgb(3, 57, 3);
  font-weight: bold;
  font-size: 16px;
}

#social-media a{
  margin: 5px;
  font-size: 20px;
}

/*Dynamics*/
#dropdown-menu {
  position: relative;
  display: inline-block;
}

#dropdown-menu nav {
  display: none;
  position: absolute;
}

#dropdown-btn {
  border: none;
  background-color: transparent;
  color: rgb(3, 57, 3);
  font-size: 30px;
  margin-right: 10px;
}


button:hover, a:hover, .radio-btn:hover {
  cursor: pointer;
}

#header-links a:hover {
  transform: scale(1.05);
}

.answer-btns:hover {
  background-color: whitesmoke;
  border: none;
  transform: scale(1.05);
}

button:not(.answer-btns):hover{
 transform: scale(1.1);
}

footer a:hover {
  color: white;
  text-shadow: 1px 0px 3px black,
  -1px 1px 3px black;
}

#social-media a i:hover{
  transform: scale(1.1);
}



/* Check attributions folder for more info regarding attributions and copyright licenses */