/* Flexbox*/
    .column {
        display: flex;
        flex-direction: column;
    }

     .align-items-center {
        align-items: center;
    }

    .text-align-center {
       text-align: center;
    }

    .impact-font {
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-size: 50px;
    }

/* Adjustments */
    .margin10 {
       margin: 10%;
    }

    .font-size20 {
       font-size: 20px;
    }


/* Tags */    
    img {
      width: 300px;
      margin-bottom: 50px;
    }
 
    a {
      text-decoration: none;
      background-color: gray;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 1px 1px black, -1px -1px lightgray;
      color: black;
    }

    a:hover {
      scale: 1.1;
      background-color: black;
      border: solid 1px;
      border-color: lightgray;
      color: white;
    }

    /* Check attributions folder for more info regarding attributions and copyright licenses */